h1 {
	color: blue;
	font-family:fantasy;
	}
	
h2 {
	color: red;
	font-family:fantasy
	}

p {
	font-family:calibri; 
	color:hsl(0, 0%, 0%)
	} 
	
a	{
	font-family:calibri; 
	color:hsl(0, 0%, 0%)
	} 
	

